body{
	font-family: Arial;
	background-color: rgba(255,0,0,0.1);
	display: flex;
	justify-content: center;
	border: 1px solid;
	height: 100vh;
}

.list{
	background-color: rgba(0,255,0,0.1);
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #ccc;
	
}

input{
	width: calc(100% - 40px);
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid;
	box-sizing: border-box;
}

button{
	width: 50%;
	padding: 10px;
	background-color: rgba(0,255,0,0.6);
	color: white;
	border: 0.6px solid;
	border-radius: 5px;
	cursor: pointer;
}

button.hover{
	background-color: #0000ff;
}

ul{
	list-style-type: none;
	padding: 0;
}

li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
}

li.completed span{
	text-decoration: line-through;
	color: #777;
}

li button{
	padding: 10px;
	background-color: rgba(0,0,255,0.6);
	color: white;
	border: 0.6px solid;
	border-radius: 5px;
	cursor : arrow;
}

li button : hover {
	background-color: #c82333;
}